  html {
    font-size: 10px;
    font-family: 'Muli', sans-serif;
  }
  
  
  h1 {
    font-size: 30px;
    text-align: center;
    top: 20%;
    transform: translate(0%, 0%);
    margin-top:16px;
    margin-bottom:16px;
    border-style: solid;
    border-color: #e59292;
    background-color: #f7cfcf;
    box-shadow: 10px 10px #e59292;
  }

  h2{
    color: #2e327b;
    text-align: center;
    /*background-color: #f7cfcf;
    padding:12px 12px!important;
    margin-top:16px;
    margin-bottom:16px;
    border-style: solid;
    border-color: #e59292;
    box-shadow: 10px 10px #e59292;*/
  }

  h3{
    line-height:0px;
  }
  
  p, li {
    font-size: 10px;
    letter-spacing: 1px;
  }
  
  
  html {
    background-color: #ffdfda;
    width:100%;
    height:100%;
  }
  
  body {
    max-width: 300px;
    margin: 50px auto;
    column-count: 2;
    column-width: 300px;
    font-size: 12px;
    margin-bottom:16px;
    /*background-color: #f7cfcf;
    padding:6px 12px!important;
    margin-top:16px;
    
    border-style: solid;
    border-color: #e59292;
    box-shadow: 10px 10px #e59292;*/
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #4d72ad;
    text-shadow: 3px 3px 1px transparent;
    position: relative;
    animation: opac 3s;
    
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  a {
    background-color: transparent;
    border: none;
    color: #5373ac;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .about, .projects, .contact {
    background-color: transparent;
    width: 500px;
    height: 200px;
    /*position: absolute;
    left: 31%;
    margin-left: -31px;*/
    top: 50%;
    transform: translate(-30%, 50%);
    animation: opac 3s;
    float: left;
    width: 33.33%;
  }

  /*.projects {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 51%;
    margin-left: -51px;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: opac 3s;
  }

  .contact {
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 71%;
    margin-left: -71px;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: opac 3s;
  }*/
  
  @keyframes 
  opac{
    from{opacity:0}
    to{opacity:1}
  }
  @keyframes
  animatebottom{
    from{bottom:-300px;opacity:0}
    to{bottom:0;opacity:1}
  }

  .project {
    float: left;
    padding: 10px;
  }

  .programming{
    background-color: #e59292;
    border-radius: 8px;
    padding: 4px 8px!important;
    text-align:center!important;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e59292;
    overflow-x: hidden;
    padding-top: 20px;
  }

  @media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    /*.sidebar{
      width:50%;
      float:right;
    }
    .sidebar a{
      width:50%;
      float:left;
    }*/
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    .about{
      width: 100%;
    }
    .projects{
      width: 100%;
    }
    .contact{
      width: 100%;
    }
  }

  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
  }

  .project-1, .project-2, .project-3,
  .formal-contact, .informal-contact, .friends-sites{
    background-color: #f7cfcf;
    padding:6px 12px!important;
    margin-top:16px;
    margin-bottom:16px;
    border-style: solid;
    border-color: #e59292;
    box-shadow: 10px 10px #e59292;
  }