  html {
    font-size: 10px;
    font-family: 'Muli', sans-serif;
  }
  
  
  h1 {
    font-size: 30px;
    text-align: center;
    top: 50%;
    transform: translate(0%, 50%);
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  
  html {
    background-color: #bbd1f3;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: transparent;
    padding: 0 30px 30px 30px;
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #314d7a;
    text-shadow: 3px 3px 1px transparent;
    position: relative;
    animation: opac 3s;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  a {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .about {
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 31%;
    margin-left: -31px;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: opac 3s;
  }

  .projects {
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 51%;
    margin-left: -51px;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: opac 3s;
  }

  .contact {
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 71%;
    margin-left: -71px;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: opac 3s;
  }
  
  @keyframes 
  opac{
    from{opacity:0}
    to{opacity:1}
  }
  @keyframes
  animatebottom{
    from{bottom:-300px;opacity:0}
    to{bottom:0;opacity:1}
  }

  .project {
    float: left;
    width: 33.33%;
    padding: 10px;
  }

  .programming{
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4149c5;
    overflow-x: hidden;
    padding-top: 20px;
  }